@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

:root {
  --brand100: #e3fde0;
  --brand500: #5ea17a;
  --brand700: #347656;
  --brand900: #0e3426;
  --error500: #ff6b6b;
  --error900: #d43f3f;
  --error100: #ffa5a5;
  --success500: #4caf50;
  --success900: #0c520f;
  --success100: #81c784;
}

/*** GLOBAL ***/
* {
  font-family: 'Raleway', sans-serif;
  color: var(--brand900);
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--brand900);
}
h1 {
  color: white;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
h2 {
  font-weight: 700;
  margin-bottom: 20px;
}
h3 {
  margin-bottom: 20px;
}
*::-webkit-scrollbar {
  width: 0;
}
.brand500 {
  color: var(--brand500);
}
.error {
  width: 200px;
  background-color: var(--error100);
  border: 1px solid var(--error900);
  color: var(--error900);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  bottom: 200px;
}

.success {
  width: fit-content;
  padding: 15px;
  text-align: center;
  position: absolute;
  bottom: 200px;
  background-color: var(--success100);
  border: 1px solid var(--success900);
  color: var(--success900);
}

/*** GLOBAL ***/
/********************/
/*** UTILITY ***/
.mediumWeight {
  font-weight: 600;
}
.myButton {
  border: 2px solid transparent;
  background-color: var(--brand500);
  color: white;
  padding: 10px;
  padding-inline: 15px;
}
.myButton:hover {
  border: 2px solid var(--brand500);
  background-color: white;
  color: var(--brand500);
  transition: all ease-in-out 0.15s;
}
.myButtonInverted {
  border: 2px solid var(--brand500);
  color: var(--brand500);
  background-color: white;
  padding: 10px;
  padding-inline: 15px;
}
.myButtonInverted:hover {
  color: white;
  border: 2px solid transparent;
  background-color: var(--brand500);
  transition: all ease-in-out 0.15s;
}
.myButtonInverted:hover a {
  color: white;
  transition: all ease-in-out 0.15s;
}
.noBorderButton {
  color: var(--brand500);
  cursor: pointer;
}
/* Styling for the modal container */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the modal content */
.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
}

/* Styling for the close button */
.closeButton {
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 50px;
  cursor: pointer;
  color: white;
}

/* Additional styles for the modal content */
.modalContent h2 {
  margin-bottom: 10px;
}

.modalContent p {
  margin-bottom: 20px;
}
/*** UTILITY ***/
/********************/
/*** NAVBAR ***/
.Navbar {
  background-color: var(--brand500);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-inline: 20px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.accountIcon {
  color: white;
}
/*** NAVBAR ***/
/********************/
/*** SINGLE SPELL ***/
.singleSpellDetails {
  margin-top: 20px;
  margin-bottom: 100px;
}
/*** SINGLE SPELL ***/
/********************/
/*** ALL SPELLS ***/
.allSpells {
  padding-inline: 20px;
}

table {
  width: 100%;
}
th {
  font-weight: 600;
}
th:nth-child(1) {
  text-align: start;
}
th:nth-child(2) {
  text-align: center;
}
th:nth-child(3) {
  text-align: end;
}

td {
  padding-top: 20px;
  padding-bottom: 20px;
}
td:nth-child(1) {
  text-align: start;
}
td:nth-child(2) {
  text-align: center;
}
td:nth-child(3) {
  text-align: end;
}
.Search {
  padding: 20px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid var(--brand500);
  margin-bottom: 20px;
  width: 100%;
}
input[type='text'] {
  box-sizing: border-box;
  border: 1px solid var(--brand500);
  border-radius: 2px;
  -webkit-transition: 0.5s;
  transition: all 0.5s;
  outline: none;
  padding-left: 8px;
}

input[type='text']:focus {
  border: 1px solid var(--brand700);
}

input[type='text']::placeholder {
  color: var(--brand500);
}
.filterButton {
  color: var(--brand500);
}
/*** ALL SPELLS ***/
/********************/
/*** BOTTOM NAV ***/
.BottomNav {
  display: inline-flex;
  justify-content: center;
  z-index: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.BottomNav a {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: calc(100vw / 3);
  border: none;
  padding: 10px;
  background-color: var(--brand100);
}
.BottomNav .buttonActive {
  background-color: var(--brand500);
  color: white;
}
/*** BOTTOM NAV ***/
/********************/
/*** MY SPELLS ***/
.spellbook {
  margin-top: 20px;
}
.spellbook ul {
  list-style: none;
  padding: 0;
  color: var(--brand900);
}
.spellbook li {
  margin-bottom: 20px;
  font-weight: 500;
}
.equipButton {
  border: 1px solid var(--brand500);
  color: var(--brand500);
  padding-inline: 20px;
  background-color: white;
  box-sizing: border-box;
  font-weight: 500;
  min-width: 150px;
}
.equippedButton {
  border: 1px solid var(--brand500);
  color: white;
  padding-inline: 20px;
  background-color: var(--brand500);
  box-sizing: border-box;
  font-weight: 500;
  min-width: 150px;
}

.spellEquip {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*** MY SPELLS ***/
/********************/
/*** EQUIPPED SPELLS  ***/
.spellCast {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.spellCast button {
  border: 1px solid var(--brand500);
  color: white;
  padding-inline: 20px;
  background-color: var(--brand500);
  box-sizing: border-box;
  font-weight: 500;
}
.spellSlotsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.spellSlots {
  display: flex;
  align-items: center;
}
.spellslot {
  width: 20px;
  height: 20px;
  border: 3px solid var(--brand700);
  margin-right: 5px;
  z-index: 0;
  background-color: var(--brand500);
}
.emptyspellslot {
  width: 20px;
  height: 20px;
  border: 3px solid var(--brand700);
  margin-right: 5px;
  z-index: 0;
  background-color: white;
}

input[type='checkbox'] {
  margin-right: 10px;
  line-height: normal;
  width: 20px;
  height: 20px;
  border-radius: 0;
  display: grid;
  place-content: center;
}

.spellSlotsContainer h2 {
  margin: 0;
  margin-right: 10px;
}
.restContainer {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  border-bottom: solid 1px var(--brand500);
}
.restSlider {
  display: flex;
  align-items: center;
}

.restContainer h2 {
  margin: 0;
  margin-right: 20px;
}
.restContainer input {
  width: 30px;
  border: none;
}
.restContainer input:focus {
  width: 30px;
  border: none;
}
.restContainer button {
  border: 2px solid var(--brand500);
  box-sizing: border-box;
  color: var(--brand500);
  background-color: white;

  padding-inline: 20px;

  box-sizing: border-box;
  font-weight: 500;
}
/*** EQUIPPED SPELLS  ***/
/********************/
/*** LOGIN PAGE ***/
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.login h2 {
  margin-bottom: 20px;
}

.login input {
  margin-bottom: 20px;
  width: 200px;
  padding-left: 8px;
}

.login .form-group {
  width: 100%;
}

.login .myButton,
.login .myButtonInverted {
  width: 100%;
  margin-bottom: 20px;
  max-width: 200px;
}
.login a {
  color: var(--brand500);
}
.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
/*** LOGIN PAGE ***/
/********************/
/*** SIGNUP PAGE ***/
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.signup h2 {
  margin-bottom: 20px;
}

.signup input {
  margin-bottom: 20px;
  width: 200px;
  padding-left: 8px;
}

.signup .form-group {
  width: 100%;
}

.signup .myButton {
  width: 100%;
  margin-bottom: 20px;
  max-width: 200px;
}

/*** SIGNUP PAGE ***/
/********************/
/********************/
/********************/
