@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

:root {
  --brand100: #e3fde0;
  --brand500: #5ea17a;
  --brand700: #347656;
  --brand900: #0e3426;
}

* {
  font-family: 'Raleway', sans-serif;
  color: var(--brand900);
  margin: 0;
  padding: 0;
}

.Navbar {
  background-color: var(--brand500);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-inline: 20px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.accountIcon {
  color: white;
}
.Search {
  padding: 20px;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  border-bottom: 1px solid var(--brand500);
  width: 100%;
}
input[type='text'] {
  box-sizing: border-box;
  border: 1px solid var(--brand500);
  border-radius: 2px;
  -webkit-transition: 0.5s;
  transition: all 0.5s;
  outline: none;
  padding-left: 8px;
}

input[type='text']:focus {
  border: 1px solid var(--brand700);
}

input[type='text']::placeholder {
  color: var(--brand500);
}
.filterButton {
  color: var(--brand500);
}
.BottomNav {
  display: inline-flex;
  justify-content: center;
  z-index: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.allSpells {
  padding-inline: 20px;
  margin-top: 80px;
}

.BottomNav button {
  width: calc(100vw / 3);
  border: none;
  padding: 10px;
  background-color: var(--brand100);
}
.BottomNav .buttonActive {
  background-color: var(--brand500);
  color: white;
}

.spellList {
  text-overflow: clip;
  overflow-wrap: normal;
}

h1 {
  color: white;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

table {
  width: 100%;
}
th {
  font-weight: 600;
}
th:nth-child(1) {
  text-align: start;
}
th:nth-child(2) {
  text-align: center;
}
th:nth-child(3) {
  text-align: end;
}

td {
  padding-top: 20px;
  padding-bottom: 20px;
}
td:nth-child(1) {
  text-align: start;
}
td:nth-child(2) {
  text-align: center;
}
td:nth-child(3) {
  text-align: end;
}
